<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSTI Demo</title>
    <link rel="stylesheet" href="/style.css">
</head>


<body>

    <div>
        <h1>Try SSTI</h1>

        <h2>Output:</h2>
        <p>{{{userInput}}}</p>

        <form action="/form" method="POST">
            <div class="data">
                <input name="data" type="text">
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>

</body>

</html>